# Created by https://www.gitignore.io

### vim ###
.*.sw[nop]


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

